*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
  padding: 20px 40px;
}

.wrapper {
  background-color: rgb(219,219,219);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.sidebar {
  background-color: rgb(60, 60, 60);
  width: 35%;
  padding-top: 40px;
  padding-bottom: 310px;
}

.avatar {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.contacts_container {
  margin: 40px 60px 40px;
  color: rgb(226,218,218);
}

.container_title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contacts_item {
  margin-bottom: 10px;
}

.contacts_link {
  text-decoration: none;
  color: gold;
}

.tech_skills_container {
  margin: 40px 60px 40px;
  color: rgb(226,218,218);
}

.tech_skills_item {
  margin-bottom: 10px;
  margin-left: 20px;
  color: gold;
}

.tech_skills_text {
  color: rgb(226, 218, 218);
}

.main_info {
  margin: 50px 70px 50px 90px;
}

.info_profession {
  font-family: 'RocknRoll One', sans-serif;
  color: #6b6a69;
  font-size: 42px;
}

.info_name {
  font-family: 'RocknRoll One', sans-serif;
  margin: 30px 0;
}

.main_info_title {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 20px;
  margin: 15px 0 10px;
}

.soft_skills {
  margin-left: 20px;
}

.soft_skills_description {
  margin-top: 3px;
  font-size: 17px;
}

.projects {
  margin-top: 15px;
  margin-left: 20px;
}

.projects_item {
  margin-bottom: 8px;
}

.projects_link {
  text-decoration: none;
  color: indigo;
  font-size: 18px;
}

.projects_description {
  margin-left: 5px;
  font-style: italic;
}

.projects_languages {
  color:rgba(60, 60, 60, 0.650);
}

.profession_company, .education_title {
  color: #6b6a69;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

profession_title {
  margin-top: 5px;
  font-weight: 300;
}

.profession_time, .education_time {
  margin: 5px 15px 10px;
  font-size: 13px;
  color:rgba(60, 60, 60, 0.650);
}

.education_fac {
  margin: 5px 10px;
}
